In [10]:
x=5
y=3
x+y

8

NameError: name 'x' is not defined

In [9]:
first_name = 'Harshal'
print(first_name)

Harshal

NameError: name 'first_name' is not defined

In [11]:
name1 = 'Navya'
print(name1)

Navya

In [12]:
name='Navya'
print(name)

Navya

In [13]:
name1 = "Navya"
print(name1)

Navya

##

In [14]:
name2 = """Nishka and Niki"""
print(name2)

Nishka and Niki

In [15]:
type(name)

str

In [16]:
type(name1)

str

In [17]:
type(name2)

str

In [18]:
print("    /|")
print("   / |")
print("  /  |")
print(" /___|")

    /|
   / |
  /  |
 /___|

In [22]:
charactre_name = 'Niki'
character_age = "35"
print("My name is " + charactre_name + ", ")
print("I am " + character_age + " year old. ")
print("I like very much my name " + charactre_name + ", ")
print("but i don't like being " + character_age + ".")

My name is Niki,
I am 35 year old.
I like very much my name Niki,
but i don't like being 35.

In [20]:
charactre_name = "Nishka"
character_age = "1.5"
print("My name is " + charactre_name + ", ")
print("I am " + character_age + " years old. ")
charactre_name = "Navya"
character_age = "10"
print("I like very much my name " + charactre_name + ", ")
print("but i don't like being " + character_age + ".")

My name is Nishka,
I am 1.5 years old.
I like very much my name Navya,
but i don't like being 10.

In [23]:
charactre_name = """Harshal"""
character_age = 38.84

is_male = True
print("My name is " + charactre_name + ", ")
print("I am " + str(character_age) + " years old.")

My name is Harshal,
I am 38.84 years old.

In [24]:
type(charactre_name)

str

In [26]:
type(character_age)

float