In [1]:
name = 'harshal shah'
print(name)

harshal shah

In [ ]:
convert the name in proper format

In [4]:
print(name.title()) #titlecase or camelcase...

Harshal Shah

In [ ]:
req: to convert the name in totally to capital letter

In [5]:
print(name.upper()) #uppercase..

HARSHAL SHAH

In [ ]:
req: to convert all the letter in small case.

In [8]:
name1 = "Nishka SHAH"
print(name1.lower())  #lowercase...

nishka shah

In [ ]:
introduction to f strings: **

In [ ]:
General syntax of a an f string: 
    f"{placeholder1} {placeholder2}.....{nplaceholders}""

In [19]:
first_name = 'Vinod'
last_name = 'Shah'

In [26]:
print('req: to get full name')

req: to get full name

In [21]:
full_name = f"{first_name} {last_name}"
print(full_name)

Vinod Shah

In [ ]:
req: i want to greet above name

In [22]:
print(f"Hello, {full_name.title()}")

Hello, Vinod Shah

In [ ]:
adding white space:

In [23]:
print('fav_languages:pythonc++javacobolswiftvbsql#oracle')

fav_languages:pythonc++javacobolswiftvbsql#oracle

In [24]:
print('fav_languages:\npython\nc++\njava\ncobol\nswift\nvb\nsql\noracle')

fav_languages:
python
c++
java
cobol
swift
vb
sql
oracle

In [ ]:
\n : new line delimieter

In [25]:
print('fav_languages:\n\tpython\n\tc++\n\tjava\n\tcobol\n\tswift\n\tvb\n\tsql\n\toracle')

fav_languages:
	python
	c++
	java
	cobol
	swift
	vb
	sql
	oracle

In [ ]:
\t: tab delimieter

In [28]:
f_name = "Navya"
l_name = 'Shah'
Complete_name = f"{f_name} {l_name}"
print(Complete_name)

Navya Shah

In [29]:
print('Universe\n\tGalaxy\n\tSolar System\n\tEarth\n\tAsia\n\tIndia')

Universe
	Galaxy
	Solar System
	Earth
	Asia
	India

In [48]:
print('Universe\n\tGalaxy\n\t\tSolar System\n\t\t\t\tEarth\n\t\t\t\t\tAsia\n\t\t\t\t\t\tIndia\n\t\t\t\tSun\n\t\t\tMars\n\t\tSaturn')

Universe
	Galaxy
		Solar System
				Earth
					Asia
						India
				Sun
			Mars
		Saturn

In [97]:
print('           .') 
print('      .        .')
print('    .            .') 
print('   .               .') 
print('   .               .') 
print('   .               .') 
print('    .            .') 
print('      .        .')
print('           .')

           .
      .        .
    .            .
   .               .
   .               .
   .               .
    .            .
      .        .
           .